body {
    font-family: 'Raleway', sans-serif;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.form-group input:focus {
    border-color: #666;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.form-options a {
    color: #40464b;
    text-decoration: none;
}

.form-options a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* This adds space between the button and the element above it */
}

.btn:hover {
    background-color: #555;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between the image and the form */
    height: 100vh;
}

.image-container {
    width: 400px; /* Same width as the form container */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.forgot-password {
    color: grey;
    text-decoration: none;
    pointer-events: none; /* Disables the hover and click behavior */
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures the image and form are part of the same box */
}

.image-container {
    width: 420px;
    background-color: #f4f4f4;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

.container {
    padding: 30px;
    width: 400px;
}

