* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#f0d671;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px; /* Reduced padding to make it thinner */
    background-color: #004654;
    color: white;
}
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 50px;
    width: 100%;
    background-color: #007b8a;
    color: white;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logo {
    background-size: cover;
    height: 100px;
    width: 80px;
    margin-left: 0px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input, textarea, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #0a899c;
    color: white;
    cursor: pointer;
}
.blog-post {
    background: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    font-size: small;
    padding: 15px;
    background-color: #00333c;
    color: white;
}